# build output
dist

# dependencies
node_modules/
.snowpack/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# Win and macOS-specific files
.DS_Store
.thumbs_db

#misc
.code-workspace
