<header class="wrapper">
	<article>
		<h1>
			<a href="/">
				<svg viewBox="0 0 4000 4000" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2">
					<path d="M0 0h4000v4000H0z"/>
					<path d="M1776.35 506.392h-605.78V3765.04h605.78V506.392Zm-33.65 36.207V3728.83h-538.48V542.599h538.48Z" style="fill:#fff" transform="matrix(.99045 0 0 .92063 -159.386 33.802)"/>
					<path d="M1972.97 968.658c557.1 0 1009.39 452.292 1009.39 1009.382 0 557.1-452.29 1009.39-1009.39 1009.39-557.09 0-1009.383-452.29-1009.383-1009.39 0-557.09 452.293-1009.382 1009.383-1009.382Zm0 33.652c538.53 0 975.74 437.21 975.74 975.73 0 538.53-437.21 975.74-975.74 975.74-538.52 0-975.737-437.21-975.737-975.74 0-538.52 437.217-975.73 975.737-975.73Z" style="fill:#fff" transform="translate(45.373 -459.652) scale(.9907)"/>
				</svg>

				<span>Philificent</span>
			</a>
		</h1>
	</article>
</header>

<style>
	header {
		padding-top: 1rem;
		padding-bottom: 1rem;
		height: 5rem;
	}
	article {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header-subitem {
		display: flex;
		flex-grow: 0;
		gap: 0.5em;
		align-items: center;
		justify-content: center;
		color: var(--theme-text-lighter);
		font-size: initial;
		padding: 0.5rem;
	}
	.header-subitem:hover {
		color: var(--theme-accent);
	}
	.header-subitem svg {
		width: 1.5rem;
		height: 1.5rem;
	}

	@media (max-width: 32em) {
		.header-subitem {
			display: none;
		}
	}

	h1 {
		margin: 0;
		font-size: 1.5rem;
		max-width: 100%;
		display: flex;
		flex-grow: 1;
	}

	.logo {
		transform: translateY(0.25rem);
	}

	svg {
		width: 2.5rem;
		height: 2.5rem;
	}

	h1 a {
		text-decoration: none;
		display: inline-flex;
	}
</style>
